{% extends "base.html" %}
{% block title %}Task List | {{ block.super }}{% endblock %}
{% block container %}
  <div class="list-group">
    {% for object in object_list %}
      <a href="{% url  "task:detail" object.pk %}" class="list-group-item task-container">
        <div class="task-container row">
          <div class="task-header col-12">
            <h4>{{ object.title }}</h4>
            <p>{{ object.project }}</p>
          </div>
          <div class="task-body row">
            <div class="task-data col-9">
              {{ object.description|default_if_none:""|truncatewords:15 }}
            </div>
            <div class="task-meta col">
              {% include "task/_task_meta.html" with task=object %}
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
