{% extends "base.html" %}
{% block title %}Task List | {{ block.super }}{% endblock %}
{% block container %}
  <div class="list-group">
    {% for object in object_list %}
      <a href="{% url  "task:detail" object.pk %}" class="list-group-item">
        <div class="task-container" id="task-id-{{ object.pk }}">
          <div class="task-header">
            <h4 class="task-title">{{ object.title }}</h4>
          </div>
          <div class="task-body">
            <p>{{ object.description|truncatewords:10 }}</p>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
