{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block title %}Sign In | {{ block.super }}{% endblock %}
{% block container %}
  <form method="post" class="col-4 offset-4">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-row">
      <button type="submit" class="btn btn-primary">Sign In</button>
      <a href="{% url "task:list" %}" class="btn btn-danger">Cancel</a>
    </div>
    <div class="form-row mt-3">
      <span>Have no account? </span>
      <a href="{% url "user:signup" %}">Sign up now!</a>
    </div>
  </form>
{% endblock %}
