{% load crispy_forms_filters %}
<button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#change-password">
  Change password
</button>
<div id="change-password" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <div class="modal-title">Change password</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>

      <div class="modal-body">
        <form action="{% url "user:change-password" %}" method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-primary ms-auto" type="submit">Change</button>
        </form>
      </div>

    </div>
  </div>
</div>