{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}User Profile | {{ block.super }}{% endblock %}
{% block container %}
  <div class="row">

    <div class="col-6">
      <img src="https://i.pravatar.cc/250" alt="user picture">
    </div>

    <div class="col">

      <div class="mt-1">
        <span>Username: </span>
        <span>{{ user.username }}</span>
      </div>

      <div class="mt-1">
        <span>Fullname: </span>
        <span>{{ user.first_name }} </span>
        <span>{{ user.last_name }}</span>
      </div>

      <div class="mt-1">
        <span>Email: </span>
        <span>{{ user.email }}</span>
      </div>

      <div class="mt-1 ms-auto">
        {% include "user/_change_user.html" with form=user_change_form %}
        {% include "user/_change_password.html" with form=password_change_form %}
      </div>

      <div class="mt-1 ms-auto">
        {% include "user/_deactivate.html" %}
      </div>

    </div>

  </div>

{% endblock %}
