{% extends "base.html" %}
{% block title %}User Profile | {{ block.super }}{% endblock %}
{% block container %}
  <div class="row" style="display: flex">
    <div class="col" style="width: 50%; align-content: center; justify-content: center; text-align: center">
      <img src="https://ui-avatars.com/api/?background=0D8ABC&color=fff" alt="avatar" width="250" height="250">
    </div>
    <div class="col" style="width: 50%">
      <div>{{ user.username }}</div>
      <div>
        <span>{{ user.first_name }}</span>&nbsp;
        <span>{{ user.last_name }}</span>
      </div>
      <div id="change-user-data">
        <form action="{% url "user:change" %}" method="post">
          {% csrf_token %}
          {{ user_change_form.as_div }}
          <button type="submit">Change</button>
          <button type="reset">Cancel</button>
        </form>
      </div>
      <div id="change-user-pass">
        <form action="{% url "user:change-password" %}" method="post">
          {% csrf_token %}
          {{ password_change_form.as_div }}
          <button type="submit">Submit password change</button>
          <button type="reset">Cancel</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
